---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main
    class="flex flex-col justify-center items-center gap-4 mt-[100px] mb-[50px] md:h-[800px]"
  >
    <h1>404</h1>
    <p>La página que estás buscando no existe</p>
  </main>
</Layout>
