<form
  action=""
  class="flex flex-col md:grid md:grid-cols-2 p-5 md:p-13 gap-10 md:h-[300px] w-full bg-[#030712] text-white place-items-center"
  id="contacto"
>
  <div class="md:max-w-[500px] flex flex-col gap-4">
    <div class="flex flex-col">
      <label for="nombre">Nombre</label>
      <input type="text" placeholder="Juan, Teresa, Ana...." />
    </div>
  </div>
  <div class="md:max-w-[500px] flex flex-col gap-4 justify-center">
    <div class="flex flex-col">
      <label for="nombre">Apellido</label>
      <input type="text" placeholder="Sanchez, Rodriguez..." />
    </div>
  </div>
  <div class="md:max-w-[500px] flex flex-col gap-4 justify-center">
    <div class="flex flex-col">
      <label for="nombre">Correo</label>
      <input type="text" placeholder="ejemplo@ejemplo.com" />
    </div>
  </div>
  <div class="md:max-w-[500px] flex flex-col gap-4 justify-center">
    <div class="flex flex-col">
      <label for="nombre">Déjanos un mensaje...</label>
      <textarea name="textarea" rows="1" cols="21" placeholder="Me gustaría..."
      ></textarea>
    </div>
  </div>
  <button
    type="submit"
    disabled
    class="col-span-2 cursor-pointer border-2 border-black bg-[#0DC143] text-white rounded-lg hover:bg-[#fffff] px-6 py-2"
    >Enviar</button
  >
</form>
