<main
  class="flex flex-col justify-center md:grid md:grid-cols-5 md:gap-1 relative mt-[98px] md:mt-[130px] md:mb-[150px] md:h-[800px]"
>
  <img
    src="/Elizabeth anime.webp"
    alt="Eliza-chan"
    class="Eli-chan place-self-center size:100 md:size-200 md:col-span-2 lg:col-span-1 object-scale-down md:object-none md:object-top"
  />
  <img
    src="/psico.webp"
    alt="imagen de una persona leyendo un libro"
    class="h-[800px] w-[1200px] object-cover hidden md:block md:inline-flex col-span-3"
  />
  <img
    src="/cerebro.webp"
    alt="imagen de interpretación del pensamiento en forma de cerebro"
    class="size:100 md:size-200 object-none object-left hidden md:hidden lg:inline-flex col-span-1"
  />
  <div
    class="md:absolute place-self-center md:-bottom-10 text-sm md:text-3xl bg-[#ffffff] h-[63px] w-[200px] md:w-[700px] flex flex-rows justify-center items-center"
  >
    <p class="text-center font-bold">
      Entendiendo tus emociones guiando tu camino.
    </p>
  </div>
</main>
